<mat-card class="cardWithShadow">
    <mat-card-content>
        <mat-card-title>Toatal Number of Inqueires</mat-card-title>
        <!-- <div class="row m-t-24">
            <div class="col-7">
                <h4 class="f-s-24">30</h4>
            </div>
        </div> -->
    </mat-card-content>
    <div class="chart-container">
        <apx-chart
            [series]="[inquiryCountsTotal_forworded, inquiryCountsTotal_resolved, inquiryCountsTotal_rejected]"
            [chart]="{
                type: 'pie',
                height: 300
            }"
            [labels]="['Forwarded', 'Resolved', 'Rejected']"
            [colors]="['#2196f3', '#4caf50', '#f44336']"
            [legend]="{
                position: 'bottom'
            }"
        ></apx-chart>
    </div>
</mat-card>
