<div class="card" style="width: 100%; height: 100%; margin-bottom: 0px !important;">
    <div class="card-body">
        <div class="row">
            <div class="text-center">
                <!-- <mat-icon class="warning-icon">warning</mat-icon> -->
                <h5 class="title">Delete Inquiry</h5>
                <p class="message">Are you sure you want to delete this inquiry? This action cannot be undone.</p>
              </div>
        </div>
        <div class="button-container">
            <button class="mt-2 btn btn-secondary btn-block cancel-button mb-2" (click)="onCancel()">Cancel</button>
            <button class="mt-2 btn btn-primary btn-block confirm-button mb-2" (click)="clickfunc()">Confirm</button>
        </div>
    </div>
</div>