<div class="forget-password-container">
    <!-- Step 1: Enter email -->
    <div *ngIf="isEmailStep" class="email-step">
      <h2>Forgot your password?</h2>
      <p>Enter your email address to receive a password reset Code.</p>
      <form (submit)="onEmailSubmit()">
        <label for="email">Email Address</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
        <button type="submit" class="btn-submit">Send Reset Code</button>
      </form>
    </div>
  
    <!-- Step 2: Set new password -->
    <div *ngIf="!isEmailStep" class="reset-password-step">
      <h2>Reset Your Password</h2>
      <p>Enter your code and  new password below.</p>
      <form (submit)="onPasswordSubmit()">
        <label for="new-password">Enter Code</label>
        <input type="number" id="new-password" [(ngModel)]="code" name="code" required />
        <label for="new-password">New Password</label>
        <input type="password" id="new-password" [(ngModel)]="newPassword" name="newPassword" required />
        <button type="submit" class="btn-submit">Reset Password</button>
      </form>
    </div>
  </div>
  

  
<!-- Toast Notification -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="width: 200px;">
    <div *ngIf="showToast"
    [ngClass]="{
      'bg-success': toastType === 'success', 
      'bg-danger': toastType === 'error',
      'bg-warning': toastType === 'warning',
      'bg-info': toastType === 'info'
    }" 
  class="toast align-items-center text-white border-0 show"  role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          {{ toastMessage }}
        </div>
        <!-- <button type="button" class="btn-close btn-close-white" (click)="closeToast()" aria-label="Close"></button> -->
      </div>
    </div>
  </div>