<div class="card" style="width: 100%; height: 100%; margin-bottom: 0px !important;">
    <div class="card-body">
        
        <h3 style="color: rgb(110, 106, 106);">ADD INQUIRIES</h3>
        <div class="row">
            <div class="col-sm-12 mb-4 mt-4">
                <!-- <label for="studentName">Index Number</label> -->
                <div class="form-group">
                    <input class="form-control" type="text" id="indexNumber" placeholder="Index Number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="form-group">
                    <!-- <label for="studentName">Student Name</label> -->
                    <div class="input-group">
                        <input class="form-control" id="studentName" type="text" placeholder="Student Name">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="form-group">
                    <!-- <label for="contactNumber">Contact Number</label> -->
                    <div class="input-group">
                        <input class="form-control" id="contactNumber" type="text" placeholder="Contact Number">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="form-group">
                    <!-- <label for="academicYear">Academic Year</label> -->
                    <div class="input-group">
                        <input class="form-control" id="academicYear" type="text" placeholder="Academic Year">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="form-group">
                    <!-- <label for="department">Department</label> -->
                    <div class="input-group">
                        <select class="form-control" id="department">
                            <option value="" disabled selected>Select Department</option>
                            <option value="Admission">Admission</option>
                            <option value="Academic">Academic</option>
                            <option value="HR">HR</option>
                            <option value="Finance">Finance</option>
                            <option value="General Admin">General Admin</option>
                            <option value="personnel">personnel</option>
                            <option value="MIS">MIS</option>
                            <option value="Secretariat office">,Secretariat office</option>
                            <option value="Chairman Office">Chairman Office</option>
                            <option value="Legal">Legal</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="form-group">
                    <!-- <label for="inquiryType">Inquiry Type</label> -->
                    <div class="input-group">
                        <select class="form-control" id="inquiryType">
                            <option value="" disabled selected>Select Inquiry Type</option>
                            <option value="Cutoff">Cutoff</option>
                            <option value="Normal intake">Normal intake</option>
                            <option value="Special intake">Special intake</option>
                            <option value="Disable Intake">Disable Intake</option>
                            <option value="CGP">CGP</option>
                            <option value="Late Reg">Late Reg</option>
                            <option value="Previous Course back">Previous Course back</option>
                            <option value="email or phone no Change">Demail or phone no Change</option>
                            <option value="Mahapola">Mahapola</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="form-group">
                    <!-- <label for="forwarded">Forwarded To</label> -->
                    <div class="input-group">
                        <select class="form-control" id="forwarded">
                            <option value="" disabled selected>Select Forwarded</option>
                            <option value="(AD 01 - AD 100)">(AD 01 - AD 100) </option>
                            <option value="Academic">Academic</option>
                            <option value="HR">HR</option>
                            <option value="Finance">Finance</option>
                            <option value="General Admin">General Admin</option>
                            <option value="personnel">personnel</option>
                            <option value="MIS">MIS</option>
                            <option value="Secretariat office">,Secretariat office</option>
                            <option value="Chairman Office">Chairman Office</option>
                            <option value="Legal">Legal</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mb-4">
                <div class="form-group">
                    <!-- <label for="remark">Remark</label> -->
                    <textarea class="form-control" id="remark" rows="2"
                        placeholder="Enter your remarks here"></textarea>
                </div>
            </div>
        </div>
        <div class="button-container mt-6">
            <button class="mt-2 btn btn-secondary btn-block cancel-button" (click)="onCancel()" id="cancelButton">Cancel</button>
            <button class="mt-2 btn btn-primary btn-block confirm-button" (click)="clickfunc()">Confirm</button>
        </div>
    </div>
</div>


  